.popup {
    
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;

    display: -ms-grid;

    display: grid;
    grid-auto-columns: 40px 430px 40px;
    -ms-grid-rows: 1fr 40px 330px 1fr;
    grid-template-rows: 1fr 40px 330px 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;

}

.popup::after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: black;
    opacity: 0.8;
    z-index: -1;
}


@media screen and (max-width: 320px) {
    .popup {
        grid-auto-columns: fit-content(282px);
        -ms-grid-rows: 1fr 13px 26px 13px 322px 13px 1fr;
        grid-template-rows: 1fr 26px 322px 1fr;
        gap: 13px;
        
        
        
    
}} 