.popup_opened {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 40px 430px 40px;
    -ms-grid-rows: 1fr 40px 330px 1fr;
    grid-template-rows: 1fr 40px 330px 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

@media screen and (max-width: 520px) {
    .popup {
        grid-auto-columns: 1fr;
        -ms-grid-rows: 1fr 13px 26px 13px 322px 13px 1fr;
        grid-template-rows: 1fr 26px 322px 1fr;
        gap: 13px;
    }
}