.element__delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete.svg);
    background-size: cover;
    -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 0;
  margin: 15px 15px 0 0;
  justify-self: flex-end;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.element__delete:hover {
  opacity: 0.6;
}