.profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 120px 30px 336px 30px 1fr;
    grid-template-columns: 120px 336px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 30px;

    width: 100%;
    max-width: 880px;

    padding-top: 40px;

    -ms-grid-row: 1;
    -ms-grid-column: 1;

    -ms-grid-row: 1;
    -ms-grid-column: 3;

    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

@media screen and (max-width: 900px) {
    .profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

