.header {
    max-width: 880px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    padding: 45px 0px 40px 0px;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

@media screen and (max-width: 900px) {
    .header {
        width: 85%;
    }
}

@media screen and (max-width: 520px) {
    .header {
        width: 100%;
        padding: 28px 0px 30px 0px;
    }
}
