.elements {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    -ms-grid-rows: minmax(min-content, max-content);
    grid-template-rows: auto;

    justify-items: center;

    gap: 20px 17px;

    width: 100%;
    max-width: 880px;

    padding-top: 50px;
}

@media screen and (max-width: 900px) {
    .elements {
        max-width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .elements {
        max-width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .elements {
        max-width: 282px;
    }
}

@media screen and (max-width: 320px) {
    .elements {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
