.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: repeat(2, 360px);
    grid-auto-rows: 360px;
    justify-items: center;
    gap: 20px 17px;

    width: 100%;
    max-width: 880px;

    padding-top: 50px;
}

@media screen and (max-width: 900px) {
    .elements {
        max-width: 85%;
        grid-template-rows: repeat(3, 360px);
    }
}

@media screen and (max-width: 700px) {
    .elements {
        max-width: 60%;
        grid-template-rows: repeat(6, 360px);
    }
}

@media screen and (max-width: 500px) {
    .elements {
        max-width: 282px;
    }
}

@media screen and (max-width: 320px) {
    .elements {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
