.element__image {
  width: 100%;
  max-height: 282px;
  background-color: grey;
  border-radius: 10px 10px 0 0px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .element__image {
  }
}

@media screen and (max-width: 700px) {
  .element__image {
  }
}

@media screen and (max-width: 590px) {
  .element__image {
  }
}
