.element__image {
    width: 100%;
   /* max-width: 282px;*/
    max-height: 282px;
    background-color: grey;
    border-radius: 10px 10px 0 0px;
    grid-column: 1;
    grid-row: 1;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .element__image {
      
    
      
  }}
  
  @media screen and (max-width: 700px) {
    .element__image {
  
       
    }}
  
  @media screen and (max-width: 590px) {
    .element__image {
        
  }}