.popup__close {
    width: 40px;
    height: 40px;
    background: url(./popup__close.svg);
    background-size: cover;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;

    display: inline-block;

    padding: 0;
    margin: 0;

    border: none;

    cursor: pointer;

    outline: 0;
}

.popup__close:hover {
opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .popup__close {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
        width: 26px;
        height: 26px;
        -ms-grid-column-align: end;
            justify-self: end;
        
    
}} 