.footer {
    max-width: 880px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    padding: 66px 0px 60px 0px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

@media screen and (max-width: 900px) {
    .footer {
        width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .footer {
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
        padding: 48px 0px 36px 0px;
    }
}
